<!DOCTYPE html>
<html lang="ko" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <th:block th:replace="fragment/config :: configFragment" ></th:block>
</head>

<body class="bg02">
<th:block th:replace="fragment/supplierHeader :: headerFragment" ></th:block>

  <div class="sub_tit_wrap">
    <div class="inner">
      <div class="sub_txt_wrap">
        <p class="tit"><span>RFQ</span> 등록</p>
        <p class="txt">Buyer 자사 양식</p>
      </div>
    </div>
  </div>

  <div class="buyer_rfq02">
    <div class="inner">
      <th:block th:replace="fragment/supplier_process :: supplierProcessFragment" ></th:block>


      <div class="docu_wrap">
        <div class="docu_btn_area_top">
          <button class="btn_style01">등록하기</button>
        </div>

        <div class="docu_cont">
          <div class="docu_section01">

            <div class="docu_tit_wrap">
              <h3>파일 업로드 (자사 양식)</h3>
            </div>
            <div class='file_input'>
              <input type='file'>
              <div class="btn">Choose</div>
              <p data-js-label>No file selected</p>
            </div>
            <p class="point_info">.pdf 파일로 업로드 해주세요.</p>

            <div class="dash_line"></div>

            <div class="docu_tit_wrap">
              <h3><span class="material-icons-outlined">business</span>Company Information</h3>
              <p class="docu_tit_subtxt">This is the information you enter at the time of initial creation. After that, it will be automatically filled out when creating RFQ and can be modified in my information.</p>
            </div>
            
            <table class="docu_table">
              <tbody>
                <tr>
                  <th>Company Name</th>
                  <td>
                    <input type="text" placeholder="">
                  </td>

                </tr>
                <tr>
                  <th>사업자등록번호</th>
                  <td>
                    <input type="text" placeholder="">
                  </td>
                </tr>
                <tr>
                  <th>Company Address</th>
                  <td>
                    <div class="input_wrap">
                      <input type="text" placeholder="">
                      <button class="btn_style01 mar_left">검색</button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>Company Phone Number</th>
                  <td>
                    <input type="text" placeholder="">
                  </td>
                </tr>
                <tr>
                  <th>Email</th>
                  <td>
                    <input type="text" placeholder="">
                  </td>
                </tr>
                <tr>
                  <th>Name (Incharge Person)</th>
                  <td>
                    <div class="input_wrap">
                      <input type="text" placeholder="">
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>Position</th>
                  <td>
                    <input type="text" placeholder="">
                  </td>
                </tr>
                <tr>
                  <th>Contact Point</th>
                  <td>
                    <input type="text" placeholder="">
                  </td>
                </tr>
                <tr>
                  <th>Website</th>
                  <td>
                    <input type="text" placeholder="">
                    <p class="point_info">You can receive WHATSAPP notification talk service when you fill it out.</p>

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="docu_btn_area_bottom">
          <button class="btn_style01">등록하기</button>
        </div>

      </div>

    </div>
  </div>
  <th:block th:replace="fragment/footer :: footerFragment" ></th:block>
</body>

</html>
<script>
  $(document.body).ready(function() {
    $('#allQuo').addClass('active');
  })
</script>