<!DOCTYPE html>
<html lang="ko" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="css/komal.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="js/komal.js"></script>
</head>

<body class="bg02">
  <header class="header">
    <div class="inner">
      <a href="/" class="logo"></a>

      <div class="menu_wrap">
        <ul class="menu01">
          <li><a href="">이용방법</a></li>
          <li><a href="">이용후기</a></li>
        </ul>

        <div class="menu02">
          <a class="">BUYER</a>
          <span class="material-icons-outlined">arrow_drop_down</span>
          <ul>
            <li><a href="">BUYER</a></li>
            <li><a href="naver.com">SUPPLIER</a></li>
            <li><a href="">FORWARDING</a></li>
          </ul>
        </div>

        <ul class="cust_menu">
          <li><a href="">LOGIN</a></li>
          <li><a href="">MYPAGE</a></li>
        </ul>
      </div>
    </div>
  </header>

  <div class="sub_tit_wrap">
    <div class="inner">
      <div class="sub_txt_wrap">
        <p class="tit"><span>견적서 작성</span></p>
        <p class="txt">RFQ에 대한 견적서를 작성하세요!</p>
      </div>
    </div>
  </div>

  <div class="forwarding_quotation">
    <div class="inner">
      <div class="docu_wrap">
        <div class="docu_cont">
          <div class="docu_tit_wrap">
            <h3>파일 업로드 (자사 양식)</h3>
          </div>
          <div class='file_input'>
            <input type='file'>
            <div class="btn">Choose</div>
            <p data-js-label>No file selected</p>
          </div>
          <p class="point_info">.pdf 파일로 업로드 해주세요.</p>

          <div class="docu_viewer">
          </div>

          <table class="docu_table">
            <tr>
              <th>적하보험 요율</th>
              <td>
                <input type="text" id=""> %
              </td>
            </tr>
            <tr>
              <th>관세 요율</th>
              <td>
                <input type="text" id=""> %
              </td>
            </tr>
          </table>
        </div>

        <div class="docu_btn_area_bottom">
          <button class="btn_style01">등록하기</button>
        </div>

      </div>



    </div>
  </div>

  <footer class="footer">
    <div class="top">
      <div class="inner">
        <ul>
          <li><a href="">이용약관</a></li>
          <li><a href="">개인정보처리방침</a></li>
        </ul>
      </div>
    </div>
    <div class="bottom">
      <div class="inner">
        <a href="#" class="footer_logo"></a>
        <p class="copyright">COPYRIGHT 2021 KOMAL. ALL RIGHTS RESERVED</p>
      </div>
    </div>
  </footer>

</body>

</html>
