<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
<footer class="footer" th:fragment="footerFragment">
    <div class="top">
        <div class="inner">
            <ul>
                <li><a href="">이용약관</a></li>
                <li><a href="">개인정보처리방침</a></li>
            </ul>
        </div>
    </div>
    <div class="bottom">
        <div class="inner">
            <a href="#" class="footer_logo"></a>
            <p class="copyright">COPYRIGHT 2021 KOMAL. ALL RIGHTS RESERVED</p>
        </div>
    </div>
</footer>
</body>
