<div class="list_item flex_wrap" th:each="payVo : ${payVo}">
    <div class="box">
        <p class="quatation_num"><span class="material-icons-outlined">content_copy</span>Quatation Number : 11111</p>
        <ul class="quatation_info">
            <li>아이템 : butterfly valve</li>
        </ul>
    </div>
    <div class="box">
        <p class="step">배송ㆍ결제 :</p>
        <p class="step_txt">"P/L, D/O, Invoice를 확인하세요."</p>
        <p class="step_txt">"배송 및 결제를 조회하세요."</p>
    </div>
    <div class="box btn">
        <button class="btn_style03">배송ㆍ결제 서류 확인</button>
        <button class="btn_style03">배송ㆍ결제 조회</button>
        <button class="btn_style03">전체 서류</button>
    </div>
</div>