<!DOCTYPE html>
<html lang="ko" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <th:block th:replace="fragment/config :: configFragment" ></th:block>
</head>

<body class="bg02">
<th:block th:replace="fragment/header :: headerFragment" ></th:block>

<div class="sub_tit_wrap">
    <div class="inner">
      <div class="sub_txt_wrap">
        <p class="tit"><span>견적관리</span></p>
        <p class="txt">RFQ를 단계별로 쉽고 빠르게 관리하세요!</p>
      </div>
    </div>
  </div>

  <div class="buyer_qm_payment_pl">
    <div class="inner">
      <th:block th:replace="fragment/buyer_process :: buyerProcessFragment" ></th:block>

      <ul class="tab_wrap">
        <li class="current"><a href="">P/L</a></li>
        <li><a href="">D/O</a></li>
        <li><a href="">INVOICE</a></li>
      </ul>

      <div class="docu_wrap">
        <div class="docu_cont">

          <div class="docu_section01 docu_top_section">
            <div class="flex_wrap">
              <img src="img/komal_logo.svg" alt="" class="logo">
              <ul>
                <li>#106, Hyuenheim building, GeojeJungangro 13gil,
                  7, Geojesi, Gyeongnam, Rep. Of Korea
                  PAIOS CORPORATION</li>
                <li>Tel: +82 55 634 1968</li>
                <li>http://www.paiosgroup.com</li>
                <li>E-mail:leo@paiosgroup.com</li>
              </ul>
            </div>
          </div>

          <div class="docu_section02">
            <div class="docu_tit_wrap flex_wrap bor">
              <h2>PACKING LIST</h2>
            </div>

            <table class="tbl_style02 docu_table">
              <tbody>
                <tr>
                  <th>Date</th>
                  <td>
                    <input type="text" placeholder="" disabled>
                  </td>
                  <th>Ref Q.no.</th>
                  <td>
                    <input type="text" placeholder="" disabled>
                  </td>
                </tr>
                <tr>
                  <th>To</th>
                  <td>
                    <input type="text" placeholder="" disabled>
                  </td>
                  <th>Ref P.O.No.</th>
                  <td>
                    <input type="text" placeholder="" disabled>
                  </td>
                </tr>
                <tr>
                  <th>Attention</th>
                  <td>
                    <input type="text" placeholder="" disabled>
                  </td>
                  <th>HS CODE</th>
                  <td>
                    <input type="text" placeholder="" disabled>
                  </td>
                </tr>
                <tr>
                  <th>Subject</th>
                  <td>
                    <input type="text" placeholder="" disabled>
                    <p class="point_info">
                      Dear Sir, Madam with regards to the subject, we are very pleased to submit our proposal as below.
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="grid_wrap">
              그리드 영역
            </div>

            <div class="flex_wrap half">
              <div class="flex_box">
                <table class="tbl_style02 docu_table">
                  <tbody>
                    <tr>
                      <th colspan="2">
                        <p class="company_name">Signed for and on behalf of <br>바이어 회사명</p>
                      </th>
                    </tr>
                    <tr>
                      <th>Signed by</th>
                      <td class="sign">
                        <a href="" class="btn_style03"><span class="material-icons-outlined">add</span>직인추가</a>
                        <div class="sign_img_wrap">
                          <span class="material-icons close">cancel</span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th>Name</th>
                      <td>
                        <input type="text" placeholder="" disabled>
                      </td>
                    </tr>
                    <tr>
                      <th>Position</th>
                      <td>
                        <input type="text" placeholder="" disabled>
                      </td>
                    </tr>
                    <tr>
                      <th>Date</th>
                      <td>
                        <input type="text" placeholder="" disabled>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="flex_box">
                <table class="tbl_style02 docu_table">
                  <tbody>
                    <tr>
                      <th colspan="2">
                        <p class="company_name">Signed for and on behalf of <br>PAIOS CORPORATION</p>
                      </th>
                    </tr>
                    <tr>
                      <th>Signed by</th>
                      <td class="sign">
                        <div class="sign_img_wrap">
                          파이오스 직인 이미지
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th>Name</th>
                      <td>
                        <input type="text" placeholder="Leo Park" disabled>
                      </td>
                    </tr>
                    <tr>
                      <th>Position</th>
                      <td>
                        <input type="text" placeholder=CEO"" disabled>
                      </td>
                    </tr>
                    <tr>
                      <th>Date</th>
                      <td>
                        <input type="text" placeholder="" disabled>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="docu_btn_area_bottom">
          <button class="btn_style01 modal_trigger" data-modal-link="modal01">직인등록</button>
          <button class="btn_style01">완료</button>
        </div>
      </div>

      <!-- 모달창 -->
      <div class="modal modal01">
        <div class="modal_bg"></div>
        <div class="modal_cont sign_regi">
          <span class="material-icons-outlined close">close</span>
          <h3>직인등록</h3>
          <div class="flex_wrap">
            <div class="flex_box sign">
              <div class="file_input">
                <input type="file">
                <div class="btn">Choose</div>
                <p data-js-label="">No file selected</p>
              </div>
              <div class="img_viewer"></div>
            </div>
            <div class="flex_box conf">
              <div class="form_wrap">
                <p class="form_name">Email</p>
                <div class="input_wrap">
                  <input type="text" placeholder="Email"/>
                  <button class="btn_style01">인증요청</button>
                </div>
              </div>
              <div class="form_wrap">
                <p class="form_name">인증번호</p>
                <div class="input_wrap">
                  <input type="text" placeholder="01012345678"/>
                  <button class="btn_style01">인증</button>
                </div>
              </div>
            </div>
          </div>
          <button class="btn_style01 bottom">등록</button>
        </div>
      </div>
    </div>
  </div>
  <th:block th:replace="fragment/footer :: footerFragment" ></th:block>

</body>
<script>
  $(document.body).ready(function() {
    $('#allPay').addClass('active');
    // getQuotationDetail();
  });
</script>
</html>
