<!DOCTYPE html>
<html lang="ko" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <th:block th:replace="fragment/config :: configFragment" ></th:block>
</head>

<body class="bg02">
<th:block th:replace="fragment/header :: headerFragment" ></th:block>

<div class="sub_tit_wrap">
    <div class="inner">
      <div class="sub_txt_wrap">
        <p class="tit"><span>RFQ</span> 등록</p>
        <p class="txt">RFQ를 단계별로 쉽고 빠르게 관리하세요!</p>
      </div>
    </div>
  </div>

  <div class="buyer_qm_feedback">
    <div class="inner">
      <th:block th:replace="fragment/buyer_process :: buyerProcessFragment" ></th:block>

      <div class="cont_wrap">
        <div class="date_check">
          <span class="txt">조회기간</span>
          <input id="searchDtFr"><span class="to">-</span><input id="searchDtTo">
          <button class="btn_style01 mar_left" onclick="paginationReloader(1);">조회</button>
          <select name="" id="" class="mar_left">
            <option value="">진행중</option>
            <option value="">완료</option>
          </select>
        </div>

        <div class="docu_wrap">
          <div class="docu_btn_area_top">
            <select name="" id="list_select" class="list_select" onchange="paginationReloader(1)">
              <option value="5">5개</option>
              <option value="10">10개</option>
              <option value="20">20개</option>
              <option value="50">50개</option>
            </select>
          </div>

        <div id="list" class="list">
        </div>

        <div id="paginationWrap">
        </div>

      </div>
      </div>
    </div>
  </div>

  <th:block th:replace="fragment/footer :: footerFragment" ></th:block>

</body>
<script>
  var sdat = new wijmo.input.InputDate("#searchDtFr", {valueChanged: () => validDate()});
  var edat = new wijmo.input.InputDate("#searchDtTo", {valueChanged: () => validDate()});

  function validDate() {
    if(sdat.value > edat.value){
      alert("조회날짜보다 미래날짜를 입력할수 없습니다.");
      srcDatInit();
    }
  }

  var srcDatInit = function(){
    var now = new Date();

    var nYear = now.getFullYear();
    var nMonth = now.getMonth()+1;
    var nDay = now.getDate();

    var past = new Date(Date.parse(now) - 30 * 1000 * 60 * 60 * 24);

    var pYear = past.getFullYear();
    var pMonth = past.getMonth()+1;
    var pDay = past.getDate();

    if(nMonth < 10)
      nMonth = "0" + nMonth;
    if(pMonth < 10)
      pMonth = "0" + pMonth;

    if(nDay < 10)
      nDay = "0" + nDay;
    if(pDay < 10)
      pDay = "0" + pDay;

    sdat.isRequired = false;
    sdat.value = pYear + "-" + pMonth + "-" + pDay;	//주석처리할경우 오늘날짜 자동으로 박힘.
    sdat.format = "yyyy-MM-dd";

    edat.isRequired = false;
    edat.value = nYear + "-" + nMonth + "-" + nDay;
    edat.format = "yyyy-MM-dd";
  }

  function paginationReloader(page, searchDtFr, searchDtTo) {

    searchDtTo = wijmo.Globalize.format(edat.value,'yyyy-MM-dd');
    searchDtFr = wijmo.Globalize.format(sdat.value,'yyyy-MM-dd');

    $.ajax({
      url: "/buyer/feedlist",
      data: {
        page: page,
        searchDtFr: searchDtFr,
        searchDtTo: searchDtTo,
        limit: $('#list_select').val()
      },
      type: "GET",
      dataType: "html",
      success: function(data) {
        const list = document.getElementById("list");
        list.innerHTML = data;
      }
    })

    $.ajax({
      url: "/buyer/feedpagination",
      data: {
        page: page,
        searchDtFr: searchDtFr,
        searchDtTo: searchDtTo,
        limit: $('#list_select').val()
      },
      type: "GET",
      dataType: "html",
      success: function(data) {
        const pagination = document.getElementById("paginationWrap");
        pagination.innerHTML = data;
      }
    })

  }

  $(document).on("click", ".page", function () {
    const page = $(this).data("page");
    const searchDtTo = wijmo.Globalize.format(edat.value,'yyyy-MM-dd');
    const searchDtFr = wijmo.Globalize.format(sdat.value,'yyyy-MM-dd');

    paginationReloader(page, searchDtFr, searchDtTo);
    return false;
  })

  $(document.body).ready(function() {
    srcDatInit();
    var searchDtTo = wijmo.Globalize.format(edat.value,'yyyy-MM-dd');
    var searchDtFr = wijmo.Globalize.format(sdat.value,'yyyy-MM-dd');
    paginationReloader(1, searchDtFr, searchDtTo);
    $('#allFeed').addClass('active');
  })

</script>

</html>
