<!DOCTYPE html>
<html lang="ko" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <th:block th:replace="fragment/config :: configFragment" ></th:block>
  <script src="../../static/js/buyer/buyer_rfq01.js"></script>
</head>

<body class="bg02">
<th:block th:replace="fragment/header :: headerFragment" ></th:block>

  <div class="sub_tit_wrap">
    <div class="inner">
      <div class="sub_txt_wrap">
        <p class="tit"><span>RFQ</span> 등록</p>
        <p class="txt">KOMAL 양식</p>
      </div>
    </div>
  </div>

  <div class="buyer_rfq">
    <div class="inner">
      <th:block th:replace="fragment/buyer_process :: buyerProcessFragment" ></th:block>

      <div class="docu_wrap">
        <div class="docu_btn_area_top">
          <button class="btn_style01">등록하기</button>
        </div>
        <div class="docu_cont">

          <div class="docu_section01 docu_top_section">
            <div class="flex_wrap">
              <img src="../img/komal_logo.svg" alt="" class="logo">
              <ul>
                <li th:text="${company.getCompany}">#106, Hyuenheim building, GeojeJungangro 13gil,
                  7, Geojesi, Gyeongnam, Rep. Of Korea
                  PAIOS CORPORATION
                <li th:text="'Tel: ' + ${company.getComNum}">Tel: +82 55 634 1968</li>
                <li th:text="${company.getComSite}">http://www.paiosgroup.com</li>
                <li th:text="'Email: ' + ${company.getComEmail}">E-mail:leo@paiosgroup.com</li>
              </ul>
            </div>
          </div>

          <div class="docu_section02">
            <div class="docu_tit_wrap flex_wrap bor">
              <h2>KOMAL RFQ FORM</h2>
              <p class="essential_tit"><span class="essential"></span> 필수항목</p>
            </div>

            <table class="tbl_style02 docu_table">
              <tbody>
                <tr>
                  <th>Date</th>
                  <td>
                    <input id="today" type="text" disabled>
                  </td>
                  <th>Quote Ref No.</th>
                  <td>
                    <input id="rfqno" type="text" placeholder="123456789, 1-2 " th:value="${rfqno}" disabled>
                  </td>
                </tr>
                <tr>
                  <th>To</th>
                  <td>
                    <input id="rfqto" type="text" value="KOMAL PLAFORM" placeholder="KOMAL PLAFORM" disabled>
                  </td>
                </tr>
                <tr>
                  <th>Attention</th>
                  <td>
                    <input id="attention" type="text" value="Sir or Madam" placeholder="" disabled>
                  </td>
                </tr>
                <tr>
                  <th>Re <span class="sub_info">Quotation of</span></th>
                  <td>
                    <input id="qutation" type="text" placeholder="1-3">
                    <span id="qutationvalid"></span>
                    <p class="point_info">
                      Dear Sir, Madam with regards to the subject, we are very pleased to submit our proposal as below.
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="grid_wrap">
              <div id="rfqGrid"></div>
            </div>

            <div class="dash_line"></div>

            <div class="docu_tit_wrap">
              <h3><span class="material-icons-outlined">description</span>Term & Conditions</h3>
            </div>

            <table class="tbl_style02 docu_table">
              <tbody>
                <tr>
                  <th>RFQ Deadline</th>
                  <td>
                    <input id="deadline">
                  </td>
                </tr>
                <tr>
                  <th>Incoterms 2020</th>
                  <td>
                    <select id="incoterms" class="" name="">
                      <option value="EXW">EXW</option>
                      <option value="DAP">DAP</option>
                      <option value="DDP">DDP</option>
                      <option value="CIF">CIF</option>
                      <option value="FOB">FOB</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <th>Payment term</th>
                  <td>
                    <select id="payterm" class="" name="">
                      <option value="A">T/T 100%</option>
                      <option value="B">T/T (선금%, 잔금%)</option>
                      <option value="C">COD(당일결제)</option>
                      <option value="D">COD(지정날짜)</option>
                    </select>
                    <input id="addTerm" type="text" placeholder="1-5, T/T" class="mar_left" style="">
                  </td>
                </tr>
                <tr>
                  <th>Currency</th>
                  <td>
                    <input id="currency" type="text" value="USD" placeholder="USD" disabled>
                  </td>
                </tr>
                <tr>
                  <th>Delivery Location</th>
                  <td>
                    <input id="location" type="text" placeholder="">
                    <span id="locationvalid"></span>
                  </td>
                </tr>
                <tr>
                  <th>Shipment</th>
                  <td>
                    <input id="shipdate">
                    <input id="dday" type="text" class="date_days mar_left" th:value="'0'" disabled>
                    <span class="date_days_txt">days</span>
                    <p class="point_info">
                      To be quote, We may need Data sheet, Trim Material (Disc, Sheet seat), Face to Face dimension
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="dash_line"></div>

            <div class="docu_tit_wrap">
              <h3><span class="material-icons-outlined">business</span>Company Information</h3>
              <p class="docu_tit_subtxt">This is the information you enter at the time of initial creation. After that, it will be automatically filled out when creating RFQ and can be modified in my information.</p>
            </div>
            <table class="docu_table">
              <tbody>
                <tr>
                  <th>Company Name<span class="essential"></span></th>
                  <td>
                    <input id="company" type="text" placeholder="1-4, EXW" th:value="${company.getCompany}">
                    <span id="companyvalid"></span>
                    <p class="point_info">You can receive contract information by email.</p>
                  </td>
                </tr>
                <tr>
                  <th>Company Address<span class="essential"></span></th>
                  <td>
                    <input id="address" type="text" placeholder="" th:value="${company.getComAddr}">
                    <span id="addressvalid"></span>
                  </td>
                  <th>Website</th>
                  <td>
                    <input id="website" type="text" placeholder="" th:value="${company.getComSite}">
                  </td>
                </tr>
                <tr>
                  <th>Company Phone Number<span class="essential"></span></th>
                  <td>
                    <input id="cellnum" type="text" placeholder="" th:value="${company.getComNum}">
                    <span id="cellnumvalid"></span>
                  </td>
                  <th>Email<span class="essential"></span></th>
                  <td>
                    <input id="email" type="text" placeholder="" th:value="${company.getComEmail}">
                    <span id="emailvalid"></span>
                  </td>
                </tr>
                <tr>
                  <th>CEO Name<span class="essential"></span></th>
                  <td>
                    <input id="ceoname" type="text" th:value="${company.getCeoName}">
                    <span id="ceonamevalid"></span>
                  </td>
                </tr>
                <tr>
                  <th>Name (Incharge Person)<span class="essential"></span></th>
                  <td>
                    <div class="input_wrap">
                      <input id="name" type="text" placeholder="" th:value="${company.getMngName}" >
                      <span id="namevalid"></span>
                    </div>
                  </td>
                  <th>Position</th>
                  <td>
                    <input id="position" type="text" placeholder="" th:value="${company.getMngPosition}">
                  </td>
                </tr>
                <tr>
                  <th>Contact Point<span class="essential"></span></th>
                  <td>
                    <input id="mngnum" type="text" placeholder="" th:value="${company.getMngNum}">
                    <span id="mngnumvalid"></span>
                    <p class="point_info">You can receive WHATSAPP notification talk service when you fill it out.</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="docu_btn_area_bottom">
          <button class="btn_style01">등록하기</button>
        </div>

      </div>

    </div>
  </div>

<th:block th:replace="fragment/footer :: footerFragment" ></th:block>
<script>
  $.getScript('/js/buyer/buyer_rfq01.js');
  $(document.body).ready(function() {
    $('#allRfq').addClass('active');
  })
</script>
</body>

</html>
